.title {
  align-self: stretch;
  position: relative;
  letter-spacing: -2px;
  line-height: 60px;
  font-weight: 600;
}
.input,
.subscribe1 {
  font-size: var(--font-size-3xl);
  font-weight: 600;
}
.input {
  border: 1px solid var(--color-white);
  font-family: var(--font-roboto);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-sm);
  box-sizing: border-box;
  height: 70px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-6xs);
  align-items: center;
  justify-content: flex-start;
  color: FFFFFF;
}
.subscribe1 {
  position: relative;
  letter-spacing: 1px;
  line-height: 22px;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-4xs);
  background-color: var(--color-mediumseagreen);
  border-radius: var(--br-md);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.button:hover {
  background-color: var(--color-seagreen);
}
.form,
.subscribe,
.subscribeform {
  display: flex;
  justify-content: flex-start;
}
.form {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-2xs);
}
.subscribe,
.subscribeform {
  flex-direction: column;
  align-items: center;
}
.subscribeform {
  width: 743px;
  gap: var(--gap-2xl);
  max-width: 90%;
}
.subscribe {
  align-self: stretch;
  background-color: var(--color-black);
  padding: var(--padding-sm) 0 var(--padding-7xl);
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 768px) {
  .input {
    flex: unset;
    align-self: stretch;
  }
  .button {
    width: 100%;
  }
  .form {
    flex-direction: column;
  }
}
